
.header{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .header__info{
        text-align: center;

        h1,h2{
            font-family: var(--titles-fonts);
        }
    }
}
